---
eleventyExcludeFromCollections: true
---

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>Andrei's Notes</title>
  <link rel="stylesheet" href="/_resources/all.css">
  <link rel="stylesheet" href="/_resources/responsive.css" media="(max-width: 600px)">

  <!-- Adobe Fonts -->
  <link rel="stylesheet" href="https://use.typekit.net/khs4nhq.css">
</head>
<body>
<main class="home">
  <div class="content">
    <h1 id="welcome">Welcome!</h1>
    <p>{{ content | safe }}</p>

    <div class="book-select">
      {% for tag in collections.tags %}
      <a class="book-button" href="/{{ tag }}/{{ collections[tag][0].page.fileSlug }}">
        <h2 class="book-title">{{ collections[tag][0].data.notebookTitle }}</h2>
        <p class="book-description">{{ collections[tag][0].data.notebookDescription }}</p>
      </a>
      {% endfor %}
    </div>
  </div>
</main>
</body>
</html>